<%= simple_form_for @scoreboard do |f| %>
 <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select Scoreboard Type", :required => true, :class =>'btn btn-default btn-sm dropdown-toggle marg15') %>
  <%= f.input :eventdate, label: "Event Date", as: :date, start_year: Date.today.year - 5,
                              end_year: Date.today.year + 5,
                              order: [:month, :day, :year] %>
  <%= f.input :bpecode, label: "Event Code", :required => true %>
  <%= f.input :organization, :required => true %>
  <%= f.input :description %>
  <%= f.input :code, label: "Source Code" %>
  <%= f.file_field :scoreboard_img %>
  <div class="text-center">
    <%= f.button :submit, class: "btn-custom2" %>
  </div>
<% end %>

