<div class="container">
  <div class="row">
    <div class="col-md-6">
        <%= image_tag @scoreboard.scoreboard_img.url(:scoreboard_show), class: "scoreboard-show" %>
    </div>
    <div class="col-md-6">
      <div class="well">
        <div class="scoreboard-info">
          <h2 class="scoreboard-title"><%= @scoreboard.bpecode %></h2>
          <h3 class="scoreboard-org"><%= @scoreboard.organization %></h3>
          <h4 class="scoreboard-category"><%= @scoreboard.category.name %></h4>
          <h4 class="scoreboard-eventdate">Event Date: <%= @scoreboard.eventdate.strftime("%B %e, %Y") %></h4></h4>
          <p class="scoreboard-desc"><%= @scoreboard.description %></p>
          <% if user_signed_in? %>
            <% if !current_user.admin? %>
              <p class="scoreboard-code"><pre id="code"><%= @scoreboard.code %></pre></p>
              <div class="text-center">
                <button class="btn-custom2 text-center" 
                  onclick="copyToClipboard('#code')" data-clipboard-text="1">Copy Code</button>
              </div>
            <% end %>
          <% end %>
          
        </div>    
      </div>
    </div>
  </div>
  <div class="links btn-group">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
          <%= link_to "Edit", edit_scoreboard_path(@scoreboard), class: "btn btn-custom" %>
          <%= link_to "Delete", scoreboard_path(@scoreboard), method: :delete, data: {
              confirm: "Are you sure?"}, class: "btn btn-custom" %>
      <% end %>
    <% end %>
  </div>
</div>


<script>
  function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
    
    // Tooltip

$('button').tooltip({
  trigger: 'click',
  placement: 'bottom'
});

function setTooltip(message) {
  $('button').tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip() {
  setTimeout(function() {
    $('button').tooltip('hide');
  }, 1000);
}

// Clipboard

var clipboard = new Clipboard('button');

clipboard.on('success', function(e) {
  setTooltip('Copied!');
  hideTooltip();
});

clipboard.on('error', function(e) {
  setTooltip('Failed!');
  hideTooltip();
});
</script>