<h2><%= @scoreboard.bpecode %> - <%= @scoreboard.organization %></h2>

<p><%= @scoreboard.description %></p>
<p><pre><%= @scoreboard.code %></pre></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_scoreboard_path(@scoreboard) %>
<%= link_to "Delete", scoreboard_path(@scoreboard), method: :delete, data: {
    confirm: "Are you sure?" } %>